/*******************************/
/* GENERAL COMPONENTS */


header {
	background: $header-background;
	min-height:70px;
    padding: 0 20px;
    position:fixed;
    top:0;
    width:100%;
    z-index: $topnav;
	@media (min-width: $breakpt-tablet){
		min-height:100px;
    }
    .nav-wrapper{
        max-width:$max-contentwidth;
        nav{
            ul{
                list-style-type:none;
                &.desktop{
                    display:none;
                }
                @media (min-width: $breakpt-tablet){
                    &.desktop{
                        display:flex;
                    }
                    &.mobile{
                        display:none;
                    }

                }   
                li{
                    margin:0 20px;
                    a{
                        font-size:16px;
                        color: $color-brand-primary;
                        transition: color 0.2s ease;
                        &:hover{
                            color: $header-link-hover;
                        }
                    }
                }
            }
        }
        .mobile{
            li{ margin-right:0; }
            .menu-icon{
                width: 26px;
                height: 18px;
                position: relative;
                top: 3px;
                line-height: 50px;
                margin: 20px 0;
                .line{
                    border-color:$color-brand-primary;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transition: all .5s;
                    &:nth-child(1){
                        top: -1px;
                        border-top: 2px solid $color-brand-primary;
                        -webkit-transform-origin: 50% 0;
                    }
                    &:nth-child(2){
                        top:50%;
                        margin-top:-1px;
                        border-top: 2px solid $color-brand-primary;
                    }
                    &:nth-child(3){
                        top: 0;
                        bottom: -1px;
                        border-bottom: 2px solid $color-brand-primary;
                        -webkit-transform-origin: 50% 100%;
                    }
                }
                &.active{
                    .line{
                        &:nth-child(1){
                            transform: translateY(50%) rotate(45deg) scale(1.2);
                        }
                        &:nth-child(2){
                            opacity:0;
                        }
                        &:nth-child(3){
                            transform:translateY(-50%) rotate(-45deg) scale(1.2);
                        }
                    }
                }
                &:hover{
                    cursor:pointer;
                    .line{
                        border-color:$header-link-hover;
                    }
                }
                // img{
                //     &:hover{
                //         cursor: pointer;
                //     }
                // }
            } 
        }
    }

}

.mobile-menu{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);

    z-index:$mobile-menu;
    display:none;
    &.active{
        display:flex;
    }
    // align-items:center;
    justify-content:center;
    text-align:center;
    position:fixed;
    overflow-y:auto;
    padding:100px 20px;
    ul{
        list-style-type:none;
        li{
            padding:20px 0;
            font-size:2em;
            a{
                &:hover{
                    color:$header-link-hover;
                    transition:color 0.2s ease;
                }
            }
        }
    }

}

.page{
    // to account for the fixed navigation
    // margin-top:70px;
    position:relative;
    top:70px;
}

.content-wrapper{
    
    .content{
        
        max-width: $max-contentwidth;

        .events-container{
            width:100%;
            margin-bottom:100px;
            .event{
                padding:20px;
                display:flex;
                flex-flow:row nowrap;

                height:150px;
                overflow:hidden;
                position:relative;

                &:hover{
                    .event-image .image{
                        transform:scale(1.1);
                    }
                }

                @media (min-width: $breakpt-tablet){
                    flex-wrap:wrap;
                    height:auto;
                    overflow:auto;
                }

                // weird-ass requested margin offsets
                @media (min-width: $breakpt-tablet){
	                &:nth-child(even){
	                	top:40px;
	                }
                }
                @media (min-width: $breakpt-desktop){
					// select second event and every third event after
					&:nth-child(3n+2){
						top:40px;
					}
					// select third event and every third event after
					&:nth-child(3n+3){
						top:80px;
					}
                }
				// /////


                .event-image{
                    width:25%;
                    min-width:125px;
                    height:150px;
                    position:relative;
                    @media (min-width: $breakpt-tablet){
                        width:100%;
                        height:245px;
                    }
                    overflow:hidden;
                    .image{
                        position:absolute;
                        width:100%;
                        height:100%;
                        background-repeat:no-repeat;
                        background-position:center;
                        background-size:cover;
                        transition:all 0.2s ease;
                    }
                    // img{
                    //     width:100%;
                    //     display:block;
                    // }
                }
                .event-text{
                    width:75%;
                    height:150px;
                    background-color: #f2f2f2;
                    padding:15px;
                    flex-grow:1;
                    color: $color-body;
                    @media (min-width: $breakpt-tablet){
                        width:auto;
                        height:240px;
                        padding:35px;
                        // margin-top:-50px;
                    }
                    .event-title *{
                        margin-top:0;
                        @media (max-width: $breakpt-tablet){
                            margin-bottom:0.4em;
                        }
                    }
                    .event-description{
                        @media (max-width: $breakpt-tablet){
                            max-height: 70px;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}

footer{
	background-color: $footer-background;
	padding: 20px;
    .footer-wrapper{
        max-width:$max-contentwidth;
        flex-flow:column nowrap;
        align-items:flex-start;
        @media (min-width: $breakpt-tablet){
            flex-flow:row nowrap;
            align-items:center;
        };
        nav{
            ul{
                list-style-type:none;
                flex-flow:column nowrap;
                align-items:flex-start;
                padding-left:0;
                @media (min-width: $breakpt-tablet){
                    flex-flow:row nowrap;
                }
                
                li{
                    margin:10px 0;
                    @media (min-width: $breakpt-tablet){
                        margin:0 20px;
                    }
                    a{
                        font-size:16px;
                        color: #FFF;
                        transition: color 0.2s ease;
                        &:hover{
                            color: $color-brand-primary;
                        }
                    }
                }
            }
        }
    }
}