/*******************************/
/* GRID AND GLOBAL LAYOUT STYLES */


/* Page size */
$max-contentwidth: 1280px;

/* Colours */
$header-background: #142926;

$color-brand-primary: #50e2c1;
$color-body: #282828;

/* Global breakpoints */
$breakpt-mobile: 416px;
$breakpt-tablet: 768px;
$breakpt-desktop: 1200px;
$breakpt-desktop-lg: 1600px;
$breakpt-desktop-xlg: 1800px;

/* Layers --- zindex */