/*******************************/
/* HOMEPAGE TEMPLATE */

.home{
	.banner{
		height:520px;
		background: url(../images/desktop_header.png) center / cover no-repeat #50e2c1;
		margin-bottom:40px;
		@media (min-width: $breakpt-tablet){
			background-image: url(../images/tablet_header.png);
		}
		@media (min-width: $breakpt-desktop){
			background-image: url(../images/desktop_header.png);
            height:600px;
        }
		@media (min-width: $breakpt-desktop-lg){
            background-position:center 35%;
		}
		position:relative;
		overflow:hidden;
	
		img{
			width:100%;
			display:block;
			position:absolute;
			top:0;
			left:0;
		}
		.text-container{
			color:#FFF;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}


		h1{
            font-size:46px;
            font-weight:400;
            strong{
                font-weight:800;
                letter-spacing:2px;
            }
			@media (min-width: $breakpt-tablet){
                font-size:78px;
			}
		}
	}
}